<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="ticketing" source="spring.application.name"/>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
        <http>
           <!--  <url>http://${LOKI_HOST:-localhost}:3100/loki/api/v1/push</url> -->
            <url>http://loki:3100/loki/api/v1/push</url>
        </http>
        <format>
            <label>
                <pattern>app=${spring.application.name},host=${HOSTNAME},traceID=%X{traceId:-NONE},level=%level</pattern>
            </label>
            <message>
                <pattern>${FILE_LOG_PATTERN}</pattern>
            </message>
            <sortByTime>true</sortByTime>
        </format>
    </appender>

    <root level="INFO">
        <appender-ref ref="LOKI"/>
    </root>
    <logger name="feign" level="DEBUG"/>

</configuration>
